

.bg-floor-tiles {background-image:url(../imgstock/background/bg-floor-tiles.jpg)}
.bg-wall-tiles {background-image:url(../imgstock/background/bg-wall-tiles.jpg);}
.bg-vitrified-tiles {background-image:url(../imgstock/background/bg-vitrified-tiles.jpg);}
.bg-ceramic-tiles {background-image:url(../imgstock/background/bg-ceramic-tiles.jpg);}
.bg-outdoor-tiles {background-image:url(../imgstock/background/bg-outdoor-tiles.jpg);}
.bg-living-room {background-image:url(../imgstock/background/bg-living-room.jpg);}
.bg-bedroom {background-image:url(../imgstock/background/bg-bedroom.jpg);}
.bg-bathroom {background-image:url(../imgstock/background/bg-bathroom.jpg);}
.bg-kitchen {background-image:url(../imgstock/background/bg-kitchen.jpg);}
.bg-commercial {background-image:url(../imgstock/background/bg-commercial.jpg);}
.bg-ceramic-floor-tiles {background-image:url(../imgstock/background/bg-ceramic-floor-tiles.jpg);}
.bg-ceramic-wall-tiles {background-image:url(../imgstock/background/bg-ceramic-wall-tiles.jpg);}
.bg-glazed-vitrified-tiles {background-image:url(../imgstock/background/bg-glazed-vitrified-tiles.jpg);}
.bg-vitrified-dch-tiles {background-image:url(../imgstock/background/bg-vitrified-dch-tiles.jpg);}
.bg-vitrified-heavy-duty-tiles {background-image:url(../imgstock/background/bg-vitrified-heavy-duty-tiles.jpg);}
.bg-vitrified-sst-tiles {background-image:url(../imgstock/background/bg-vitrified-sst-tiles.jpg);}
.bg-tiles-by-series {background-image:url(../imgstock/background/bg-tiles-by-series.jpg);}
.bg-wall-digital {background-image:url(../imgstock/background/bg-wall-digital.jpg);}
.bg-ultima-digital {background-image:url(../imgstock/background/bg-ultima-digital.jpg);}
.bg-kratos {background-image:url(../imgstock/background/bg-kratos.jpg);}
.bg-tru-life {background-image:url(../imgstock/background/bg-tru-life.jpg);}
.bg-grandeur {background-image:url(../imgstock/background/bg-grandeur.jpg);}
.bg-glossy-tiles {background-image:url(../imgstock/background/bg-glossy-tiles.jpg);}
.bg-matte-tiles {background-image:url(../imgstock/background/bg-matte-tiles.jpg);}
.bg-satin-matte-tiles {background-image:url(../imgstock/background/bg-satin-matte-tiles.jpg);}
.bg-lapato-tiles {background-image:url(../imgstock/background/bg-lapato-tiles.jpg);}
.bg-rustic-tiles {background-image:url(../imgstock/background/bg-rustic-tiles.jpg);}
.bg-eclat-tiles {background-image:url(../imgstock/background/bg-eclat-tiles.jpg);}
.bg-terrazzo-collection {background-image:url(../imgstock/background/bg-terrazzo-collection.jpg);}
.bg-argilla-collection {background-image:url(../imgstock/background/bg-argilla-collection.jpg);}
.bg-ambienti-collection {background-image:url(../imgstock/background/bg-ambienti-collection.jpg);}
.bg-marbilano-collection {background-image:url(../imgstock/background/bg-marbilano-collection.jpg);}
.bg-picture-gallery {background-image:url(../imgstock/background/bg-picture-gallery.jpg);}
.bg-showroomlocator{background-image:url(../imgstock/background/bg-showroomlocator.jpg);}
.bg-dealerlocator{background-image:url(../imgstock/background/bg-dealerlocator.jpg); background-position: bottom}
.bg-franchise{background-image:url(../imgstock/background/bg-franchise.jpg);}
.bg-catalogs{background-image:url(../imgstock/background/bg-catalogs.jpg); background-position: center}
.bg-mobile-app{background-image:url(../imgstock/background/bg-mobile-app.jpg);background-position: center}
.bg-feedback{background-image:url(../imgstock/background/bg-feedback.jpg); background-position: bottom}
.bg-contactus{background-image:url(../imgstock/background/bg-contct-us.jpg);background-position: bottom}
.bg-tilescalculator{background-image:url(../imgstock/background/bg-tiles-calculator.jpg); background-position: bottom}
.bg-blog{background-image:url(../imgstock/background/bg-blog.jpg); background-position: bottom}
.bg-search{background-image:url(../imgstock/background/bg-search.jpg); background-position: bottom}
.bg-new-launch{background-image:url(../imgstock/background/bg-newlaunch.jpg); background-position: bottom}
.bg-sitemap{background-image:url(../imgstock/background/bg-sitemap.jpg); background-position: bottom}
.bg-find{background-image:url(../imgstock/background/bg-find-an-expert.jpg); background-position: bottom}
.bg-electic-collection{background-image:url(../imgstock/background/bg-electic-collection.jpg); background-position: bottom}
.bg-ceramix-digital-tiles{background-image:url(../imgstock/background/bg-ceramix-collection.jpg); background-position: bottom}
.bg-vitrified-elevation-tiles{background-image:url(../imgstock/background/bg-elevation-collection.jpg); background-position: bottom}
.bg-made-in-italy{background-image:url(../imgstock/background/bg-made-in-italy.jpg); background-position: bottom}
.bg-aeon-collection{background-image:url(../imgstock/background/bg-aeon-collection.jpg); background-position: bottom}
.bg-earth-collection{background-image:url(../imgstock/background/bg-earth-collection.jpg); background-position: bottom}
.bg-nordic-collection{background-image:url(../imgstock/background/bg-nordic-collection.jpg); background-position: bottom}


