

#fh5co-header {
  position: absolute;
  z-index: 99;
  width: 100%;
  opacity: 1;
  top: 0;
}
#fh5co-header .navbar {
  padding-bottom: 0;
  margin-bottom: 0;
}
#fh5co-header #navbar.navbar-collapse {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}
#fh5co-header #navbar .navbar-right {
  margin-right: 0;
}
@media screen and (max-width: 992px) {
  #fh5co-header #navbar .navbar-right {
    margin-right: -15px;
  }
}
#fh5co-header #navbar li a {
  font-family: "Open Sans", Arial, sans-serif;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  font-size: 16px;
  font-weight: 400;
}
@media screen and (max-width: 992px) {
  #fh5co-header #navbar li a {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}
#fh5co-header #navbar li a span {
  position: relative;
  display: block;
  padding-bottom: 2px;
}
#fh5co-header #navbar li a span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
#fh5co-header #navbar li a:hover {
  color: #fff;
}
#fh5co-header #navbar li a:hover span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}
@media screen and (max-width: 480px) {
  #fh5co-header #navbar li a:hover span:before {
    display: none;
  }
}
#fh5co-header #navbar li.active a {
  background: transparent;
  background: none;
  color: #fff;
}
@media screen and (max-width: 480px) {
  #fh5co-header #navbar li.active a {
    color: #fff;
  }
}
#fh5co-header #navbar li.active a span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  background-color: #fff;
}
@media screen and (max-width: 480px) {
  #fh5co-header #navbar li.active a span:before {
    background-color: transparent;
  }
}
#fh5co-header #navbar li.call-to-action {
  margin-left: 10px;
}
#fh5co-header #navbar li.call-to-action a {
  border: none;
  padding: 2px 20px 2px 20px;
  margin: 12px 0 0 0px;
  line-height: 1.5;
  background-color: #333333;
  border: 2px solid rgba(255, 255, 255, 0.1);
  color: #fff;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
}
#fh5co-header #navbar li.call-to-action a:hover {
  border: 2px solid rgba(255, 255, 255, 0.3);
  color: #fff;
}
#fh5co-header #navbar li.call-to-action a span:before {
  background-color: transparent;
}
#fh5co-header .navbar-brand {
  float: left;
  display: block;
  font-size: 24px;
  font-weight: 700;
  padding-left: 0;
  color: #fff;
  text-transform: uppercase;
  font-family: "Open Sans", Arial, sans-serif;
}
@media screen and (max-width: 992px) {
  #fh5co-header .navbar-brand {
    padding-left: 10px !important;
    padding-right: 0 !important;
  }
}
#fh5co-header.navbar-fixed-top {
  position: fixed !important;
  background: #fff;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  margin-top: 0px;
  top: 0;
}
#fh5co-header.navbar-fixed-top #navbar li a {
  color: rgba(255, 255, 255, 0.5) !important;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
#fh5co-header.navbar-fixed-top #navbar li a:hover {
  color: #333333;
}
#fh5co-header.navbar-fixed-top #navbar li.active a {
  color: #fff !important;
}
@media screen and (max-width: 768px) {
  #fh5co-header.navbar-fixed-top #navbar li.active a {
    color: #d73930 !important;
  }
}
#fh5co-header.navbar-fixed-top #navbar li.active a span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  background-color: #fff;
}
@media screen and (max-width: 768px) {
  #fh5co-header.navbar-fixed-top #navbar li.active a span:before {
    background-color: transparent;
  }
}
#fh5co-header.navbar-fixed-top #navbar li.call-to-action a {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
}
#fh5co-header.navbar-fixed-top #navbar li.call-to-action a:hover {
  background-color: #333333;
  color: #fff !important;
}
#fh5co-header.navbar-fixed-top #navbar li.call-to-action a span:before {
  background-color: transparent;
}
#fh5co-header .navbar-default {
  border: transparent;
  background: #1a1b1e;
  background: #333333;
  margin: 0;
  padding-left: 50px;
  padding-right: 50px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}
@media screen and (max-width: 768px) {
  #fh5co-header .navbar-default {
    margin-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
}
#fh5co-header .navbar-default .brand-slogan {
  margin: 28px 0 0 15px;
  float: left;
  letter-spacing: 2px;
  color: #adadad;
}
#fh5co-header .navbar-default .brand-slogan em {
  color: #333333;
  font-style: normal;
}



.fh5co-explore {
  padding-bottom: 40px;
}

.fh5co-explore-bg-color {
  width: 100%;
  background: #1a1b1e;
  padding: 7em 0;
  margin-bottom: 0;
}

.mt {
  margin-top: 0px;
  margin-bottom: 80px;
}
.mt h4 {
  position: relative;
  padding-left: 40px;
  font-size: 20px;
}
.mt h4 i {
  position: absolute;
  left: 0;
  top: 0;
  color: #333333;
}
.mt > div {
  margin-bottom: 40px;
}
.mt .list-nav {
  margin: 50px 0 0 0;
  padding: 0;
}
.mt .list-nav li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  padding-left: 30px;
  margin-bottom: 10px;
  position: relative;
}
.mt .list-nav li i {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 18px;
  color: #333333;
}

.list-nav {
  margin: 30px 0 30px 0;
  padding: 0;
}
.list-nav li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  padding-left: 30px;
  margin-bottom: 10px;
  position: relative;
}
.list-nav li i {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 18px;
  color: #333333;
}
.section-heading {
  float: left;
  width: 100%;
  padding-bottom: 50px;
  margin-bottom: 0px;
  clear: both;
}
.section-heading h2 {
  margin: 0 0 0 0;
  font-size: 26px;
  font-weight: 400;
  color: #fff;
  position: relative;
  display: block;
  padding-bottom: 10px;
  line-height: 1.5;
}
@media screen and (max-width: 768px) {
  .section-heading h2 {
    font-size: 28px;
  }
}
.section-heading h3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  color: #555863;
  position: relative;
  display: block;
  padding-bottom: 30px;
  font-family: "Prata", serif;
}
.section-heading h3:after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 2px;
  background: #333333;
  left: 50%;
  margin-left: -25px;
  bottom: 0;
}
@media screen and (max-width: 768px) {
  .section-heading h3 {
    font-size: 16px !important;
    line-height: 28px;
  }
}


.btn {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-family: "Open Sans", Arial, sans-serif !important;
}

.fh5co-nav-toggle {
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-decoration: none;
}
.fh5co-nav-toggle.active i::before, .fh5co-nav-toggle.active i::after {
  background: #fff;
}
.fh5co-nav-toggle:hover, .fh5co-nav-toggle:focus, .fh5co-nav-toggle:active {
  outline: none;
  border-bottom: none !important;
}
.fh5co-nav-toggle i {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 25px;
  height: 2px;
  color: #fff;
  font: bold 14px/.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #fff;
  transition: all .2s ease-out;
}
.fh5co-nav-toggle i::before, .fh5co-nav-toggle i::after {
  content: '';
  width: 25px;
  height: 2px;
  background: #fff;
  position: absolute;
  left: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.fh5co-nav-toggle i::before {
  top: -7px;
}

.fh5co-nav-toggle i::after {
  bottom: -7px;
}

.fh5co-nav-toggle:hover i::before {
  top: -10px;
}

.fh5co-nav-toggle:hover i::after {
  bottom: -10px;
}

.fh5co-nav-toggle.active i {
  background: transparent;
}

.fh5co-nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.fh5co-nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.fh5co-nav-toggle {
  position: absolute;
  top: 6px;
  right: 15px;
  z-index: 21;
  padding: 6px 0 0 0;
  display: block;
  margin: 0 auto;
  display: none;
  height: 44px;
  width: 25px;
  border-bottom: none !important;
}
@media screen and (max-width: 768px) {
  .fh5co-nav-toggle {
    display: block;
  }
}

.btn {
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn.btn-primary {
  background: #333333;
  color: #fff;
  border: none !important;
  border: 2px solid transparent !important;
}
.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
  box-shadow: none;
  background: #333333;
}
.btn:hover, .btn:active, .btn:focus {
  background: #393e46 !important;
  color: #fff;
  outline: none !important;
}
.btn.btn-default:hover, .btn.btn-default:focus, .btn.btn-default:active {
  border-color: transparent;
}

.social {
  padding: 0;
  margin: 0;
  display: inline-block;
  position: relative;
  width: 100%;
}
.social li {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}
.social li a {
  font-size: 16px;
  display: table;
  width: 40px;
  height: 40px;
  margin: 0 4px;
}
.social li a i {
  display: table-cell;
  vertical-align: middle;
}
.social li a:hover, .social li a:active, .social li a:focus {
  text-decoration: none;
  border-bottom: none;
}
.social li a.social-box {
  background: #333333;
  color: #fff;
}
.social li a.social-circle {
  background: #333333;
  color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.social li a:hover {
  background: #393e46 !important;
}
.social.social-box a {
  background: #333333;
  color: #fff;
}
.social.social-circle a {
  background: #333333;
  color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

#map {
  width: 100%;
  height: 500px;
  position: relative;
}
@media screen and (max-width: 768px) {
  #map {
    height: 200px;
  }
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

.js .to-animate,
.js .to-animate-2,
.js .to-animate-3,
.js .single-animate {
  opacity: 0;
}

@media screen and (max-width: 480px) {
  .col-xxs-12 {
    float: none;
    width: 100%;
  }
}

.row-bottom-padded-lg {
  padding-bottom: 7em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-lg {
    padding-bottom: 2em;
  }
}

.row-bottom-padded-md {
  padding-bottom: 4em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-md {
    padding-bottom: 2em;
  }
}

.row-bottom-padded-sm {
  padding-bottom: 2em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-sm {
    padding-bottom: 2em;
  }
}

.fh5co-animated {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.owl-carousel .owl-controls .owl-dot span {
  background: #333333;
}
.owl-carousel .owl-controls .owl-dot span:hover, .owl-carousel .owl-controls .owl-dot span:focus {
  background: #4d4d4d;
}
.owl-carousel .owl-controls .owl-dot:hover span, .owl-carousel .owl-controls .owl-dot:focus span {
  background: #4d4d4d;
}
.owl-carousel .owl-controls .owl-dot.active span {
  background: transparent;
  border: 2px solid #333333;
}

/*# sourceMappingURL=style.css.map */
